<h2>List of Animals</h2>

<div id="animal-wrapper">
  <% @animals.each do |animal| %>

  <div class="animal">
    <h3><a href="/animals"></a></h3>
      <p> Name: <%= animal.name %> </p>
      <p> Adoption Status: <%= animal.adoption_status %> </p>
      <p> Day Admitted: <%= animal.day_admitted %> </p>
      <p> Age: <%= animal.age %> </p>
      <a href="/animals/<%= animal.id %>/edit">Edit</a>
      <form action="/animals/<%= animal.id %>/delete"  method="post"> <input type="submit" value="Delete">
      </form>
      <hr>
  </div>
  <% end %>
</div>
