<h2>List of Animals</h2>

<div id="animal-wrapper">
  <% @animals.each do |animal| %>

  <div class="animal">
    <h3><a href="/animals"></a></h3>
      <p> <b>Name:</b> <%= animal.name %> </p>
      <p> <b>Type:</b> <%= animal.type %> </p>
      <p> <b>Breed:</b> <%= animal.breed %> </p>
      <p> <b>Adoption Status:</b> <%= animal.adoption_status %> </p>
      <p> <b>Day Admitted:</b> <%= animal.day_admitted %> </p>
      <p> <b>Age:</b> <%= animal.age %> </p>

      <div class="button">
        <a href="/animals/<%= animal.id %>/edit">EDIT <%= animal.name %> </a>
      </div>

      <br>
      <br>

      <form action="/animals/<%= animal.id %>/delete"  method="post"> <input type="submit" value="Delete">
      </form>
      <br>
      <hr>
  </div>
  <% end %>
</div>
