  <p> <b>Name:</b> <%= @animal.name %></p>
  <p> <b>Type:</b> <%= @animal.type %> </p>
  <p> <b>Breed:</b> <%= @animal.breed %> </p>
  <p> <b>Adoption Status:</b> <%= @animal.adoption_status %> </p>
  <p> <b>Day Admitted:</b> <%= @animal.day_admitted %> </p>
  <p> <b>Age:</b> <%= @animal.age %></p>

  <hr>
