<h2>List of Owners</h2>

<div id="owners-loop">
  <% @owners.each do |owner| %>

  <div class="owner">
    <h3><a href="/owners"></a></h3>
      <p> <b>Name:</b> <%= owner.name %> </p>
      <p> <b>Address:</b> <%= owner.address %> </p>

      <br>

      <div class="button">
        <a href="/owners/<%= owner.id %>/edit">EDIT OWNER</a>
      </div>

      <div class="button">
        <a href="/owners/<%= owner.id %>">SEE PETS</a>
      </div>

      <br>
      <br>

      <div class="delete-button">
        <form action="/owners/<%= owner.id %>/delete"  method="post"> <input type="submit" value="Delete">
      </form>
      </div>


      <hr>
  </div>
  <% end %>
</div>
